# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environment (VERY important)
.venv/

# Environment files
.env

# Code Coverage 
.coverage
coverage.xml
htmlcov/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if ever used)
node_modules/

# Build / packaging
*.egg-info/
dist/
build/

# Interface Extra File
working_config.json