# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/

# Node (if ever used)
node_modules/
