# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/

# Node (if ever used)
node_modules/

*.egg-info/
dist/
build/
