<!--
Author: Antonio Corona
Date: 2026-02-20

Schedule Generator Template

Provides the user interface for:
- Setting schedule generation limit
- Selecting optimization options
- Triggering schedule generation

Extends base.html.
-->

{% extends "base.html" %}
{% set title = "Schedule Generator" %}
{% block content %}
<h1>Schedule Generator</h1>

<section class="card">
  <form method="post" action="/run/generate">
    <div class="row">
      <label>Limit</label>
      <input name="limit" type="number" min="0" value="5">
    </div>

    <div class="row">
      <label>Optimize</label>
      <input name="optimize" type="checkbox">
    </div>

    <button type="submit">Generate</button>
  </form>

</section>
{% endblock %}
